# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Get to know popular languages for Data Science
- Apply popular languages for Data Science

Some of the popular languages that Data Scientists use are:
1. Julia
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|------------------|
|Jupyter|
|Apache|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers (3*4)+5

In [125]:
x=(3*4)+5

In [127]:
print("The result is", x)

The result is 17

In [129]:
y=200//60

In [131]:
z=200%60

This will convert 200 minutes to hours by diving by 60

In [134]:
print("200 minutes is the same as", y,"hours and", z,"minutes")

200 minutes is the same as 3 hours and 20 minutes

## Author
Ane Escala